* {
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}.circle {
    padding: 16px 20px;
    border-radius: 30%;
    background-color: green;
    color: #fff;
    max-height: 50px;
    z-index: 2;
  }

html {
  scroll-behavior: smooth;
}

.bg-infinity-primary {
  background-color: #00b8a5;
}

@-webkit-keyframes slightSlideInFromBottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slightSlideInFromBottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes growCircle {
  0% {
    -webkit-clip-path: circle(0% at 65% 75%);
            clip-path: circle(0% at 65% 75%);
  }
  100% {
    -webkit-clip-path: circle(20% at 65% 75%);
            clip-path: circle(20% at 65% 75%);
  }
}

@keyframes growCircle {
  0% {
    -webkit-clip-path: circle(0% at 65% 75%);
            clip-path: circle(0% at 65% 75%);
  }
  100% {
    -webkit-clip-path: circle(20% at 65% 75%);
            clip-path: circle(20% at 65% 75%);
  }
}

.navbar {
  padding-left: 40px;
  padding-right: 40px;
  background-color: transparent;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
  z-index: 99;
}

.navbar .navbar-brand span {
  color: white;
  font-weight: 500;
  margin-left: 10px;
}

.navbar .navbar-nav li {
  margin-left: 5px;
  margin-right: 5px;
}

.navbar .navbar-nav .nav-item .nav-link {
  color: white;
  border-bottom: 2px solid transparent;
  padding-bottom: 20px;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #00b8a5;
  border-bottom: 2px solid #00b8a5;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.navbar .navbar-nav .nav-item .dropdown-item:active {
  background-color: #00b8a5;
}

.navbar .navbar-nav .nav-item .dropdown-item:hover {
  background-color: #00b8a5;
  color: white;
}

.navbar .navbar-nav .active .nav-link {
  color: #00b8a5;
  border-bottom: 2px solid #00b8a5;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.nav-bg-light {
  background-color: white;
}

.nav-bg-light .navbar-brand span {
  color: black;
}

.nav-bg-light .navbar-nav .nav-item .nav-link {
  color: black;
}

.nav-bg-light .navbar-nav .active .nav-link {
  color: #00b8a5;
}

#home {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
}

#home .hero-cta {
  color: white;
  position: absolute;
  top: 40%;
  z-index: 1;
  -webkit-animation: 0.5s ease-out 0s 1 slightSlideInFromBottom;
          animation: 0.5s ease-out 0s 1 slightSlideInFromBottom;
}

#home .hero-cta h1 {
  font-size: 3rem;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.356);
  padding-bottom: 20px;
  z-index: 2;
}

#home .hero-cta .btn {
  padding: 10px 50px;
  font-size: 16pt;
}

#home .hero-cta .btn .btn-text {
  padding-right: 10px;
}

#home .hero-cta .btn .btn-icon {
  position: relative;
  top: 2px;
  color: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

#home .hero-cta .btn:hover {
  background-color: #00b8a5;
  border-color: #00b8a5;
  color: white;
}

#home .hero-cta .btn:hover .btn-icon {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  color: white;
}

#home .hero-cover {
  height: 100vh;
  overflow: hidden;
}

#home .hero-cover img {
  position: absolute;
}

#home .hero-cover .hero-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  z-index: -1;
}

#home .hero-cover .spotlight-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-clip-path: circle(20% at 65% 75%);
          clip-path: circle(20% at 65% 75%);
  background-color: rgba(0, 184, 165, 0.25);
  mix-blend-mode: hard-light;
  -webkit-animation: 0.5s ease-out 0s 1 growCircle;
          animation: 0.5s ease-out 0s 1 growCircle;
}

a {
  color: #00b8a5;
}

.main-sections {
  padding-top: 40px;
}

.main-sections .sub-section {
  min-height: 70vh;
}

.main-sections .sub-section .justify-text {
  text-align: justify;
}

.main-sections .sub-section:nth-child(n+3) {
  padding-top: 70px;
}

@media screen and (max-width: 992px) {
  .main-sections .sub-section .downloads-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.main-sections .sub-section .downloads-container .card {
  height: 210px;
  margin-bottom: 20px;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

.main-sections .sub-section .downloads-container .card .download-pdf {
  -webkit-transition: color 0.15s ease-in;
  transition: color 0.15s ease-in;
}

.main-sections .sub-section .downloads-container .card .download-powerpoint {
  -webkit-transition: color 0.15s ease-in;
  transition: color 0.15s ease-in;
}

.main-sections .sub-section .downloads-container .card .download-image {
  -webkit-transition: color 0.15s ease-in;
  transition: color 0.15s ease-in;
}

.main-sections .sub-section .downloads-container .card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 8px 20px -10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 8px 20px -10px rgba(0, 0, 0, 0.25);
}

.main-sections .sub-section .downloads-container .card:hover .download-pdf {
  color: #F40F02;
}

.main-sections .sub-section .downloads-container .card:hover .download-powerpoint {
  color: #D04423;
}

.main-sections .sub-section .downloads-container .card:hover .download-image {
  color: #404fd8;
}

.main-sections .sub-section .downloads-container .card .download-items li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-sections .sub-section .downloads-container .card .card-text {
  color: grey;
}

.section-headings {
  padding-top: 20px;
  color: #00b8a5;
  font-size: 16px;
  font-weight: normal;
}

.section-info-div {
  padding: 15px;
  border: 2px solid #00b8a5;
  border-radius: 15px;
  width: 80%;
  margin-bottom: 70px;
}

.section-info-div .text-col {
  font-size: 14pt;
  line-height: 1.2;
}

.section-info-div img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 992px) {
  .section-info-div {
    margin-bottom: 20px;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.section-figure {
  padding: 0px 0px 20px 0px;
}

.section-figure p {
  font-size: 12px;
  color: grey;
  margin-top: 10px;
}

@media screen and (max-width: 992px) {
  .section-figure {
    padding: 20px 0px;
  }
  .section-figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .section-figure p {
    text-align: center;
  }
}

.references {
  font-size: 8pt;
}

.references p {
  margin-bottom: 2px;
}

.references ol {
  padding-left: 12px;
}

@media screen and (max-width: 992px) {
  #project-scope-right {
    margin-top: 20px;
  }
}

.research-gap .card {
  min-height: 150px;
  margin-bottom: 20px;
  -webkit-transition: background-color 0.25s ease-in;
  transition: background-color 0.25s ease-in;
}

.research-gap .card:hover {
  background-color: #00b8a5;
  color: white;
}

.research-gap .card:hover footer {
  color: white;
}

.highlight {
  color: #00b8a5;
}

.research-objectives .card {
  min-height: 190px;
  margin-bottom: 20px;
}

.technology .avatar {
  -webkit-box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  padding: 25px;
  width: 150px;
  height: 150px;
}

.technology .avatar img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.technology p {
  color: grey;
  padding-top: 10px;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .technology {
    padding-left: 20px;
    padding-right: 20px;
  }
  .technology p {
    margin-right: 50px;
  }
}

/* Variables */
.milestones {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

/* Styling */
.timeline {
  margin: 4em auto;
  position: relative;
  max-width: 46em;
  padding: 0;
  list-style: none;
}

.timeline:before {
  background-color: black;
  content: '';
  margin-left: -1px;
  position: absolute;
  top: 0;
  left: 2em;
  width: 2px;
  height: 100%;
}

.timeline-event {
  position: relative;
}

.timeline-event:hover .timeline-event-icon {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: #00b8a5;
}

.timeline-event:hover .timeline-event-thumbnail {
  -webkit-box-shadow: inset 40em 0 0 0 #00b8a5;
  box-shadow: inset 40em 0 0 0 #00b8a5;
}

.timeline-event-copy {
  padding: 2em;
  position: relative;
  top: -1.875em;
  left: 4em;
  width: 80%;
}

.timeline-event-copy h3 {
  font-size: 1.75em;
}

.timeline-event-copy h4 {
  font-size: 1.2em;
  margin-bottom: 1.2em;
}

.timeline-event-copy strong {
  font-weight: 700;
}

.timeline-event-icon {
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: black;
  outline: 10px solid white;
  display: block;
  margin: 0.5em 0.5em 0.5em -0.5em;
  position: absolute;
  top: 0;
  left: 2em;
  width: 1em;
  height: 1em;
}

.timeline-event-thumbnail {
  -webkit-transition: box-shadow 0.5s ease-in;
  -webkit-transition-delay: 0.1s;
  -webkit-transition: -webkit-box-shadow 0.5s ease-in 0.1s;
  transition: -webkit-box-shadow 0.5s ease-in 0.1s;
  transition: box-shadow 0.5s ease-in 0.1s;
  transition: box-shadow 0.5s ease-in 0.1s, -webkit-box-shadow 0.5s ease-in 0.1s;
  color: white;
  font-size: 0.75em;
  background-color: black;
  -webkit-box-shadow: inset 0 0 0 0em #ef795a;
  box-shadow: inset 0 0 0 0em #ef795a;
  display: inline-block;
  margin-bottom: 1.2em;
  padding: 0.25em 1em 0.2em 1em;
}

.about-us-card {
  min-height: 560px;
  margin-bottom: 20px;
}

.about-us-card .about-us-image {
  -o-object-fit: cover;
     object-fit: cover;
}

.about-us-card .supervisor {
  -o-object-position: 50% 25%;
     object-position: 50% 25%;
}

.about-us-card .cosupervisor {
  -o-object-position: 50% 100%;
     object-position: 50% 100%;
}

.about-us-card .telan {
  -o-object-position: 50% 25%;
     object-position: 50% 25%;
}

.about-us-card .binali {
  -o-object-position: 50% 30%;
     object-position: 50% 30%;
}

.about-us-card .sasmini {
  -o-object-position: 50% 30%;
     object-position: 50% 30%;
}

.about-us-card .card-title {
  margin-bottom: 2px;
}

.about-us-card .single-name {
  margin-top: 29px;
}

.about-us-card .text-group {
  margin: 10px 0px;
}

.about-us-card .text-group p {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 992px) {
  .contact-form {
    padding: 40px 30px 10px;
  }
}

.contact-form button {
  background-color: #00b8a5;
  color: white;
  width: 100%;
}

.contact-form button:hover, .contact-form button :focus {
  background-color: #00574e;
  color: white;
}

.contact-details div {
  display: block;
  margin-left: auto;
}

@media screen and (min-width: 992px) {
  .contact-details div {
    width: 50%;
  }
}

@media screen and (max-width: 992px) {
  .contact-details div {
    padding: 40px 10px;
  }
}

@media screen and (max-width: 992px) {
  .contact-details {
    margin-top: 30px;
    background-image: linear-gradient(to left, #52BE80, #196F3D, #52BE80);
    background-size:200%;
    color: white;
  }
  .contact-details a {
    color: #00574e;
  }
}

/*aaaaaaaaaaaa*/

  
.connecting-lines.row .col-2 {
    align-self: stretch;
  }
  .connecting-lines.row .col-2::after {
    content: "";
    position: absolute;
    border-left: 3px solid #00b8a5;
    z-index: 1;
  }
  .connecting-lines.row .col-2.bottom::after {
    height: 50%;
    left: 50%;
    top: 50%;
  }
  .connecting-lines.row .col-2.full::after {
    height: 100%;
    left: calc(50% - 3px);
  }
  .connecting-lines.row .col-2.top::after {
    height: 50%;
    left: 50%;
    top: 0;
  }
  
  
  .timeline_s div {
    padding: 0;
    height: 40px;
  }
  .timeline_s hr {
    border-top: 3px solid #00b8a5;
    margin: 0;
    top: 17px;
    position: relative;
  }
  .timeline_s .col-2 {
    display: flex;
    overflow: hidden;
  }
  .timeline_s .corner {
    border: 3px solid #00b8a5;
    width: 100%;
    position: relative;
    border-radius: 15px;
  }
  .timeline_s .top-right {
    left: 50%;
    top: -50%;
  }
  .timeline_s .left-bottom {
    left: -50%;
    top: calc(50% - 3px);
  }
  .timeline_s .top-left {
    left: -50%;
    top: -50%;
  }
  .timeline_s .right-bottom {
    left: 50%;
    top: calc(50% - 3px);
  }
  

/*# sourceMappingURL=main.css.map */

.promo-banner:before, .promo-block:before, .promo-banner {
	padding-top:5%;	  
	padding-bottom:5%;	
    position: relative;
    z-index: 1;
    background: url(../Images/banner.jpg) center center no-repeat fixed;
    background-size: cover;
    min-height: 100%;
}
.promo-banner:before {
    position: absolute;
    z-index: -1;
    background: rgba(81,87,105,.4);
}

.promo-banner, .promo-block {
    text-align: center;
}

.promo-banner:before {
    position: absolute;
    z-index: -1;
    background: rgba(81,87,105,.4);
}

.promo-banner:before, .promo-block:before, .work .work-overlay:before {
    content: " ";
}
.promo-banner-title{
	font-size:50px;color:#fff
	}
.promo-banner .promo-banner-text{
	font-size:20px;color:#fff;opacity:.8
	}

.promo-banner:before, .promo-block:before, .work .work-overlay:before, .work .work-popup-overlay {
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
}

.btncolorgradient{
	background-size:200%;
	background-image: linear-gradient(to left, #52BE80, #196F3D, #52BE80)
}
